.project-box {
  border: 2px solid #faeeee;
  padding: 15px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 15px;
  background-color: #272727; }
  .project-box:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3); }

.project-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px; }

.project-box p {
  font-size: 2rem;
  color: #717070; }
